@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
/* Spinner Animation */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Arial", sans-serif;
}

.spinner-text {
  font-size: 32px;
  font-weight: bold;
  color: #4caf50;
  display: inline-block;
  animation: spinText 2s linear infinite;
}

/* Spinning Animation */
@keyframes spinText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
